<h1>All Apps</h1>
 <% @apps.each do |app| %>
   <div class="media">
     <div class="media-body">
       <h5 id="app-<%=app.id%>">
         <%= link_to app.title, app %>
         <i class="icon-remove-sign"><%= link_to "Delete", app , method: :delete, remote: true %></i>
       </h5>
     </div>
   </div>
 <% end %>
 <%= link_to "New App", method: :post, remote: true %>
